# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\jmian\OneDrive\Documents\GT\MSCS\Fall_2020\CS8803_DLT\Projects\GitHub\Interactive-Story-Generation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
